<div class="container-fluid py-3 cuadro-texto d-flex align-items-center mono-secundario">
  <div class="container-fluid text-center">
    <h1>Beneficios de EasyMarket</h1>
    <hr/>
    <h3 class="text-justify"> Al poder tener acceso a nuestra pagina web esta no solo te permitira tener una navegacion rapida y fluida sino que tambien te podra dar la ayuda necesaria para poder hacer uso y compra de cada una de las herramientas que con sus caracteristicas como tal contamos de cada una de las herramientas que tenemos disponibles para ti. Todo esto con la ayuda de un sitio virtual para poder llevar a cabo las compras que sean requeridas para ti.</h3>
  </div>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center text-white" id="foto-inicio-benefits">
</div>
<div class="container-fluid py-3 cuadro-texto d-flex align-items-center mono-secundario">
  <div class="container-fluid text-center">
    <h4 class="text-justify">Ademas viendo todo esto desde un punto de vista comercial nos dara la oportunidad de poder complacer las necesides de cada persona, esto teniendo un carrito de compras para la seleccion de los productos que en esta ocasión se estaran comprando. ¿Para que? Para que de algun modo u otro nuestros clientes se sientan satisfechos con la manera eficiente de poder tener una base de datos que vaya cargando cada artículo que vamos seleccionado que es de nuestro interes.</h4>
    <h4 class="text-justify">Ademas al ser un usuario constante con nosotros, entre mas tiempo estes utilizano nuestra pagina web comprando de nuestros pricutos tendras diversos beneficios que podras consultar directamente con nosotros.</h4>
  </div>
</div>
