<div class="text-center" style="margin-top: 40px; margin-bottom: 40px">
  <h1>Categorias y Marcas</h1>
  <p></p>
</div>

<div class="row" id="categorias">
  <div class="col">
    <div class="container-fluid">
      <div class="container"> 
        <a href="#seccion1" class="btn btn-success col" data-toggle="collapse"> Tractores </a>
        <div class="collapse" id="seccion1"> 
          <div class="text-center mt-3"> 
            <p>Kubota</p>
            <p>John Deere</p>
            <p>Fendt</p>
            <p>Massey Ferguson</p>
            <p>Deutz</p>
          </div>
        </div>
      </div>
      <div class="container"> 
        <a href="#seccion2" class="btn btn-success col" data-toggle="collapse"> Guantes </a>
        <div class="collapse" id="seccion2"> 
          <div class="text-center  mt-3"> 
            <p>Showa</p>
            <p>MCR bafety</p>
            <p>Tegera</p>
            <p>KCL</p>
            <p>COFRA</p>
          </div>
        </div>
      </div>
      <div class="container"> 
        <a href="#seccion3" class="btn btn-success col" data-toggle="collapse"> Hachas </a>
        <div class="collapse" id="seccion3"> 
          <div class="text-center mt-3"> 
            <p>Gränsfors Bruks</p>
            <p>Silverline</p>
            <p>Gardena</p>
            <p>Fiskars</p>
          </div>
        </div>
      </div>
      <div class="container"> 
        <a href="#seccion4" class="btn btn-success col" data-toggle="collapse"> Martillos </a>
        <div class="collapse" id="seccion4"> 
          <div class="text-center mt-3"> 
            <p>LANDING</p>
            <p>TUOKAEX</p>
            <p>BERRYLION</p>
            <p>ECANCO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>