<div class="container-fluid d-flex justify-content-center align-items-center text-white" id="foto-inicio">
  <h1 class="text-over-img display-3 d-none d-md-block">¡EasyMarket!</h1>
  <h2 class="text-over-img d-block d-md-none">¡EasyMarket!</h2>
</div>
<div class="container-fluid cuadro-texto d-flex align-items-center">
  <div class="container-fluid text-center">
    <h2>¡Bienvenido a EasyMarket!</h2>
    <p>Productos de calidad a precios accesibles</p>
  </div>
</div>
<div class="container-fluid cuadro-texto text-white d-flex justify-content-center align-items-center" id="tools">
  <div class="container text-over-img">
    <h3 class="text-center">Las herramientas confiables que busca para trabajo a mano</h3>
  </div>
</div>
<div class="container-fluid cuadro-texto mono-secundario d-flex justify-content-center align-items-center">
  <div class="container">
    <h4 class="text-center">Productos y servicios de calidad.</h4>
    <p class="text-justify">Easy Market se distingue en Monterrey, Nuevo León por sus materiales y productos de construcción. Como Tienda de herramientas ha surtido productos de calidad y excelente servicio a constructores, contratistas, profesionales en reparación y propietarios independientes . Nuestro equipo de expertos en remodelación ofrece asesoría de calidad e ideas creativas a nuestros clientes. También puede solicitar nuestra asistencia práctica con proyectos específicos.En Easy Market estamos comprometidos con resolver las necesidades de constructores, profesionales en remodelación y reparación. Sea chico o grande su proyecto, de igual manera lo atenderemos con gusto.  Contáctenos para asesorarlo.</p>
  </div>
</div>
<div class="container-fluid cuadro-texto d-flex align-items-center" id="productos">
  <div class="container text-over-img text-center text-white">
    <h2>Productos destacados</h2>
    <p>Materiales accesibles para trabajos manuales.</p>
  </div>
</div>
<div class="container-fluid">
  <div class="row mono-cuarto">
    <div class="col-md-6 d-flex align-items-center">
      <div class="container text-justify">
        <h2>Tractores</h2>
        <h5>Desde 45,000$</h5>
        <p>Elegir el Tractor ideal hará toda la diferencia en su proyecto. Ofrecemos una gran variedad así como asesoría para elegir lo mejor para usted. Contáctenos para saber cómo podemos contribuir a elegir el tractor que se adapten a su proyecto. Le atenderemos con gusto.</p>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag("tractor.jpg", :alt => "Tractor", class: "img-fluid") %>
    </div>
  </div>
  <div class="row mono-cuarto">
    <div class="col-md-6 d-flex align-items-center">
      <div class="container text-justify">
        <h2>Set de herramientas</h2>
        <h5>Desde 1,000$</h5>
        <p>Nuestra selección de equipo de herramientas contiene un amplio surtido de materiales y tamaños. Confíe en la gran variedad de Easy Market, ya que podrá escoger de un sinfín de opciones y que su proyecto sea único.  ¡Llámenos hoy!</p>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag("tools1.jpg", :alt => "Tractor", class: "img-fluid") %>
    </div>
  </div>
  <div class="row mono-cuarto">
    <div class="col-md-6 d-flex align-items-center">
      <div class="container text-justify">
        <h2>Motocultor</h2>
        <h5>Desde 12,000$</h5>
        <p>Elegir el Motocultor ideales hará toda la diferencia en su proyecto. Ofrecemos una gran variedad así como asesoría para elegir lo mejor para usted. Contáctenos para saber cómo podemos contribuir a elegir el Motocultor que se adapten a su proyecto. Le atenderemos con gusto.</p>
      </div>
    </div>
    <div class="col-md-6">
      <%= image_tag("motocultor.jpg", :alt => "Tractor", class: "img-fluid") %>
    </div>
  </div>
</div>
<div class="container-fluid cuadro-button mono-secundario d-flex align-items-center">
  <div class="container text-white">
    <%= link_to '¡Empieza ya!', new_client_session_path, class: 'btn mono-base text-white btn-block' %>
    <%= link_to 'Contacto', static_pages_improvements_path, class: 'btn mono-base text-white btn-block' %>
  </div>
</div>
