<div class="container-fluid cuadro-texto mono-cuarto d-flex align-items-center">
  <div class="container">
    <h2>Quienes somos</h2>
    <p>Somos una empresa orgullosamente Méxicana dedicada a la compra-venta en línea de productos agricolas y ganaderos. Para nosotros lo mas importante son siempre nuestros clientes, por lo que nuestro objetivo es brindarte la comodidad y confianza de poder realizar tus compras de manera segura y rapida por medio de nuestra pagina web así como la opcio de poder ver productos que te ofrecen mejor rendimiento para tu trabajo o empresa, buscar productos de tus proveedores y marcas preferidas y ¿porque no?, anunciarte y vender tus propios productos.</p>
  </div>
</div>
<div class="container-fluid mono-secundario">
  <div class="row py-3">
    <div class="col-md-6">
      <%= image_tag("contactenos.jpg", :alt => "Contacto", class: "img-fluid") %>
    </div>
    <div class="col-md-6">
      <div class="container mt-2">
        <h2>Contactenos</h2>
        <p>Calle Pedro de Alba 123,Monterrey,Nuevo Leon 64260</p>
        <a href="mailto:easy_market@gmail.com" class="text-bold text-white">easy_market@gmail.com</a><br/><hr/>
      </div>
      <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.4131471716614!2d-100.31563871494755!3d25.723847536301975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86629452e2f08a27%3A0xdd71d07332a91559!2sPedro+de+Alba+SN-S+CIUDAD+UNIVERSITARIA+FACULTADES%2C+Ni%C3%B1os+H%C3%A9roes%2C+Ciudad+Universitaria%2C+San+Nicol%C3%A1s+de+los+Garza%2C+N.L.!5e0!3m2!1ses-419!2smx!4v1541811202201" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
