<div class="container mt-5 mb-5">
  <h1>Ofertas!</h1>

  <div class="row">
    <div class="col-6">
      <div class="card text-white bg-success mt-5">
        <div class="card-header">Tractor Agricola John Deere 5325 Recien Importado</div>
        <div class="card-body">
          <h4 class="card-title">$55.90</h4>
          <p class="card-text">Douro</p>
          <p class="card-text">Tractor</p>
          <p class="card-text">2011</p>
          <%= image_tag 't1.png', width: '100%' %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-white bg-success mt-5">
        <div class="card-header">Maquinaria Agricola</div>
        <div class="card-body">
          <h4 class="card-title">$55.90</h4>
          <p class="card-text">Douro</p>
          <p class="card-text">Tractor</p>
          <p class="card-text">2011</p>
          <%= image_tag 't2.png', width: '100%' %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card text-white bg-success mt-5">
        <div class="card-header">Tractor Agricola John Deere 5325 Recien Importado</div>
        <div class="card-body">
          <h4 class="card-title">$55.90</h4>
          <p class="card-text">Douro</p>
          <p class="card-text">Tractor</p>
          <p class="card-text">2011</p>
          <%= image_tag 't3.png', width: '100%' %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-white bg-success mt-5">
        <div class="card-header">Tractor Agricola John Deere 5325 Recien Importado</div>
        <div class="card-body">
          <h4 class="card-title">$55.90</h4>
          <p class="card-text">Douro</p>
          <p class="card-text">Tractor</p>
          <p class="card-text">2011</p>
          <%= image_tag 't4.png', width: '100%' %>
        </div>
      </div>
    </div>
  </div>

</div>