<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @notification.sender_id %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @notification.receiver_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @notification.type %>
</p>

<p>
  <strong>Product:</strong>
  <%= @notification.product_id %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
