<div class="container mt-5">

  <div class="card text-white bg-success mb-3">
    <div class="card-header">Cliente</div>
    <div class="card-body">
      <h4 class="card-title"><%= @user.email %></h4>
      <p class="card-text"></p>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button data-toggle="collapse" data-target="#historial" class="btn btn-block mono-quinto text-white">
        Reportes
      </button>
    </li>
    <div class="collapse" id="historial">
      <div class="container">
        <div class="row text-center my-3">
          <div class="col-md-3">
            <h4>Reporte</h4>
          </div>
          <div class="col-md-3">
            <h4>Producto</h4>
          </div>
          <div class="col-md-3">
          </div>
          <div class="col-md-3">
          </div>
        </div><hr>
        <% Report.all.each do |report| %>
        <% if Product.exists?(report.product_id) %>
        <div class="row text-center mb-3">
          <div class="col-md-3">
            <p><%= report.id %></p>
          </div>
          <div class="col-md-3">
            <p><%= Product.find(report.product_id).title %></p>
          </div>
          <div class="col-md-3">
            <%= link_to "Ver producto", product_path(report.product_id), class: "btn mono-secundario text-white" %>
          </div>
          <div class="col-md-3">
            <%= button_to "X",
            {:controller => "reports", :action => "destroy",
            :id => report.id},
            :method=>:delete,
            class: "btn btn-success" %>
          </div>
        </div>
        <hr>
        <% else %>
        <% report.destroy %>
        <% end %>
        <% end %>
      </div>
    </div>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button data-toggle="collapse" data-target="#tickets" class="btn btn-block mono-quinto text-white">
        Clientes
      </button>
    </li>
    <div class="collapse" id="tickets">
      <div class="container">
        <div class="row text-center my-3">
          <div class="col-md-3">
            <h4>Cliente</h4>
          </div>
          <div class="col-md-3">
            <h4>Email</h4>
          </div>
          <div class="col-md-3">
            <h4>Fecha de registro</h4>
          </div>
          <div class="col-md-3">
          </div>
        </div><hr>
        <% Client.all.each do |report| %>
        <div class="row text-center mb-3">
          <div class="col-md-3">
            <p><%= report.id %></p>
          </div>
          <div class="col-md-3">
            <p><%= report.email %></p>
          </div>
          <div class="col-md-3">
            <p><%= report.created_at %></p>
          </div>
          <div class="col-md-3">
            <%= button_to "X",
            {:controller => "devise/registrations", :action => "destroy",
            :id => report.id},
            :method=>:delete,
            class: "btn btn-success" %>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button data-toggle="collapse" data-target="#notificaciones" class="btn btn-block mono-quinto text-white">
        Productos
      </button>
    </li>
    <div class="collapse" id="notificaciones">
      <div class="container">
        <div class="row text-center my-3">
          <div class="col-md-3">
            <h4>Producto</h4>
          </div>
          <div class="col-md-3">
            <h4>Titulo</h4>
          </div>
          <div class="col-md-3">
            <h4>Descripción</h4>
          </div>
          <div class="col-md-3">
          </div>
        </div><hr>
        <% Product.all.each do |report| %>
        <div class="row text-center mb-3">
          <div class="col-md-3">
            <p><%= report.id %></p>
          </div>
          <div class="col-md-3">
            <p><%= report.title %></p>
          </div>
          <div class="col-md-3">
            <p><%= report.description %></p>
          </div>
          <div class="col-md-3">
            <%= button_to "X",
            {:controller => "products", :action => "destroy",
            :id => report.id},
            :method=>:delete,
            class: "btn btn-success" %>
          </div>
        </div>
        <hr>
        <% end %>
      </div>
    </div>
  </ul>
</div>
