<div class="container mt-5">

  <div class="card text-white bg-success mb-3">
    <div class="card-header">Cliente</div>
    <div class="card-body">
      <h4 class="card-title"><%= @client.email %></h4>
      <p class="card-text"></p>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button data-toggle="collapse" data-target="#historial" class="btn btn-block mono-quinto text-white">
        Historial de compras
      </button>
    </li>
    <div class="collapse" id="historial">
      <div class="container">
        <div class="row text-center my-3">
          <div class="col-md-3">
            <h4>Productos</h4>
          </div>
          <div class="col-md-3">
            <h4>Precios</h4>
          </div>
          <div class="col-md-3">
            <h4>Descripción</h4>
          </div>
          <div class="col-md-3">
            <h4>Fecha</h4>
          </div>
        </div><hr>
        <% buys = Buy.where("client_id = #{current_client.id} and ticket != #{current_client.compras}").order(:created_at) %>
        <% buys.each do |element| %>
        <% if Product.exists?(element.product_id) %>
        <% product = Product.find(element.product_id) %>
        <div class="row text-center mb-3">
          <div class="col-md-3">
            <p><%= product.title %></p>
          </div>
          <div class="col-md-3">
            <p><%= product.price.to_s[0..-3] %></p>
          </div>
          <div class="col-md-3">
            <p><%= product.description %></p>
          </div>
          <div class="col-md-3">
            <p><%= product.created_at.to_s[0...-3] %></p>
          </div>
        </div>
        <hr>
        <% end %>
        <% end %>
      </div>
    </div>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <button data-toggle="collapse" data-target="#tickets" class="btn btn-block mono-quinto text-white">
        Tickets
      </button>
    </li>
    <div class="collapse" id="tickets">
      <div class="container">
        <% tickets = current_client.compras-1 %>
        <% for i in (0..tickets) %>
          <div class="container-fluid d-flex justify-content-between mono-cuarto my-2">
            <p>Ticket <%= tickets-i+1 %></p>
            <%= button_to "Ver ticket",
            {:controller => "report", :action => "post_report",
            :ticket => tickets-i,
            :type => 'make'},
            :method=>:post,
            class: "btn mono-base text-white" %>
          </div>
        <% end %>
      </div>
    </div>
  </ul>
</div>
