<div class="container-fluid">
  <h3 class="text-center py-2 my-3 mono-base">Ticket de compra</h3>
  <div class="row text-center my-3">
    <div class="col-md-3">
      <h4>Productos</h4>
    </div>
    <div class="col-md-3">
      <h4>Precios</h4>
    </div>
    <div class="col-md-3">
      <h4>Descripción</h4>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <% total = 0 %>
  <% @buy_client.each do |element| %>
  <% if Product.exists?(element.product_id) %>
  <% product = Product.find(element.product_id) %>
  <div class="row text-center mb-3">
    <div class="col-md-3">
      <p><%= product.title %></p>
    </div>
    <div class="col-md-3">
      <p><%= product.price.to_s[0..-3] %></p>
    </div>
    <div class="col-md-3">
      <p><%= product.description %></p>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <% total = total + product.price %>
  <% end %>
  <% end %>
  <div class="container d-flex justify-content-end px-5 mx-5">
    <h4>Total: <%= total.to_s[0..-3] %> mxn</h4>
  </div>
  <div class="container d-flex justify-content-center py-5">
    <%= button_to "Guardar ticket",
    {:controller => "report", :action => "post_report",
    :ticket => params[:ticket],
    :type => 'print'},
    :method=>:post,
    class: "btn mono-base text-white" %>
    <%= button_to "Enviar ticket",
    {:controller => "report", :action => "post_report",
    :ticket => params[:ticket],
    :type => 'send'},
    :method=>:post,
    class: "btn mono-base text-white" %>
  </div>
</div>
