**********TICKET DE COMPRA************

Con este ticket queda declarado que
ha comprado los siguientes productos:

<% total = 0 %>
<% @buy_client.each do |element| %>
<% if Product.exists?(element.product_id) %>
<% product = Product.find(element.product_id) %>

Producto:  <%= product.title %>
Precio:  <%= product.price %>

<% total = total + product.price %>
<% end %>
<% end %>

Con el precio total de: <%= total %>
