
    <h1>¡Hi there, this is yout ticket from easymarket!</h1>
    <p>**********TICKET DE COMPRA************</p>

    <p>Con este ticket queda declarado que ha comprado los siguientes productos:</p>

    <div class="">
      <% total = 0 %>
      <% @buy_client.each do |element| %>
      <% if Product.exists?(element.product_id) %>
      <% product = Product.find(element.product_id) %>

      <p>Producto:  <%= product.title %></p>
      <p>Precio:  <%= product.price %></p>

      <% total = total + product.price %>
      <% end %>
      <% end %>
    </div>

    <p>Con el precio total de: <%= total %></p>
