<div class="container-fluid">
  <h3 class="text-center py-2 my-3 mono-base">Carro de compras</h3>
  <div class="row text-center my-3">
    <div class="col-md-3">
      <h4>Productos</h4>
    </div>
    <div class="col-md-3">
      <h4>Precios</h4>
    </div>
    <div class="col-md-3">
      <h4>Descripción</h4>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <% total = 0 %>
  <% buy_client = Buy.where(client_id: current_client.id, ticket: current_client.compras) %>
  <% if buy_client.length > 0 %>
  <% buy_client.each do |element| %>
  <% product = Product.find(element.product_id) %>
  <div class="row text-center mb-3">
    <div class="col-md-3">
      <p><%= product.title %></p>
    </div>
    <div class="col-md-3">
      <p><%= product.price.to_s[0..-3] %></p>
    </div>
    <div class="col-md-3">
      <p><%= product.description %></p>
    </div>
    <div class="col-md-3">
      <%= button_to "X",
      {:controller => "buys", :action => "destroy",
      :id => element.id},
      :method=>:delete,
      class: "btn btn-success" %>
    </div>
  </div>
  <% total = total + product.price %>
  <% end %>
  <div class="container d-flex justify-content-end px-5 mx-5 my-2">
    <h4>Total: <%= total.to_s[0..-3] %> mxn</h4>
  </div>
  <div class="container d-flex justify-content-end px-5 mx-5">
    <%= button_to "Comprar",  static_pages_make_buy_path, class:"btn mono-base text-white my-2" %>
  </div>
  <% else %>
  <div class="container-fluid d-flex justify-content-center">
    <h3 class="my-5">¡No hay productos aquí!</h3>
  </div>
  <% end %>
</div>
<!--
<p id="notice"><%= notice %></p>

<h1>Buys</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Product</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buys.each do |buy| %>
      <tr>
        <td><%= buy.client_id %></td>
        <td><%= buy.product_id %></td>
        <td><%= buy.quantity %></td>
        <td><%= link_to 'Show', buy %></td>
        <td><%= link_to 'Edit', edit_buy_path(buy) %></td>
        <td><%= link_to 'Destroy', buy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Buy', new_buy_path %>-->
