<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @buy.client_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @buy.product_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @buy.quantity %>
</p>

<%= link_to 'Edit', edit_buy_path(@buy) %> |
<%= link_to 'Back', buys_path %>
