/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway');

.mono-base{
  background-color: #499F68;
}

.mono-secundario{
  background-color: #77B28C;
}

.mono-terciario{
  background-color: #157A6E;
}

.mono-cuarto{
  background-color: #C2C5BB;
  /*color: black !important;*/
}

.text-mono-cuarto{
  color: #C2C5BB;
}

/*
.btn{
  font-weight: bold !important;
}*/

.mono-quinto{
  background-color: #C16323;
}

.text-mono-quinto{
  color: #C16323;
}

.text-over-img{
  background-color: rgba(0, 0, 0, 0.8);
}

#foto-inicio{
  background-image: url(corn.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

#body{
  color: black;
}

.cuadro-texto{
  min-height: 90vh;
}

#tools{
  background-image: url(tools.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#productos{
  background-image: url(productos.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cuadro-button{
  min-height: 30vh;
}

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

#foto-inicio-benefits{
  background-image: url(easy.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Poppins', sans-serif;
}

body p, body a, body span, body li, body button {
  font-family: 'Raleway', sans-serif !important;
  font-size: 110% !important;
}

#categorias {
  a {
    color: white;
    font-size: 20px;
  }
}
