
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :titulo %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :precio %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :descripción %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :categoría %>
    <%= form.select(:category, [[:tractor, 0], [:motocultor, 1], [:herramienta, 2]], {}, class: 'custom-select') %>
  </div>

  <div class="form-group">
    <%= form.label :stock %>
    <%= form.number_field :stock, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :anchura %>
    <%= form.number_field :width, class: 'form-control', step: :any %>
  </div>

  <div class="form-group">
    <%= form.label :altura %>
    <%= form.number_field :height, class: 'form-control', step: :any %>
  </div>

  <div class="form-group">
    <%= form.label :profundidad %>
    <%= form.number_field :depth, class: 'form-control', step: :any %>
  </div>

  <div class="form-group">
    <%= form.label :imagen %>
    <%= form.text_field :img, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
