<div class="container mt-5">

<h1>Productos</h1>
<%= button_to 'New Product', new_product_path, method: :get, class: 'btn btn-lg btn-success' %>

  <div class="row mt-5">

    <% @products.each do |product| %>
      <div class="col-md-3">
        <div class="card text-white bg-success mb-5">
          <div class="card-header">
            <h4 class="card-title"><%= product.title %></h4>
            <h6><%= Client.find(product.client_id)["email"] %></h6>
          </div>
          <div class="card-body">
            <h6 class="card-text">Descripción: <%= product.description %></h6>
            <h6 class="card-text">Precio: <%= product.price %></h6>
            <%= image_tag(product.img, width: '100%') %>
          </div>
          <div class="card-footer">
            <%= button_to 'Mostrar', product_path(product.id), method: :get, class: 'btn btn-success' %>
            <% if product.client_id != current_client.id %>
            <%= button_to 'Agregar a carrito',
            {:controller => "buys", :action => "create", :client_id => current_client.id,
            :product_id => product.id,
            :quantity => 1,
            :ticket => current_client.compras},
            :method=>:post,
            class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<br>

</div>
