<div class="container mt-5">
  <div class="card border-primary mb-3">
    <div class="card-header">Nuevo Producto</div>
    <div class="card-body">
      <%= render 'form', product: @product %>
      <%= link_to 'Back', products_path %>
    </div>
  </div>
</div>
