<div class="container mt-5">
  <%= button_to 'Back', products_path, method: :get, class: 'btn btn-success mb-5' %>
  <div class="col card text-white bg-success mb-3">
    <div class="card-header">
      <%- if client_signed_in? %>
      <%- if @product.client_id == current_client.id %>
        <div class="btn-group" role="group" aria-label="Basic example">
          <%= button_to 'Edit', edit_product_path(@product), method: :get, class: 'btn btn-success' %>
          <%= button_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
        </div>
      <%- else %>
      <% if @product.client_id != current_client.id %>
      <%= button_to 'Agregar a carrito',
      {:controller => "buys", :action => "create", :client_id => current_client.id,
      :product_id => @product.id,
      :quantity => 1,
      :ticket => current_client.compras},
      :method=>:post,
      class: "btn btn-success" %>
      <% end %>
      <%- end %>
      <%- end %>
      <%= button_to 'Reportar',
      {:controller => "reports", :action => "create", :client_id => @product.client_id,
      :product_id => @product.id},
      :method=>:post,
      class: "btn btn-success text-white" %>
    </div>
    <div class="card-body">
      <h4 class="card-title">
        <strong>Producto:</strong>
        <%= @product.title %>
      </h4>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p>
        <strong>Category:</strong>
        <%= @product.category %>
      </p>

      <p>
        <strong>Stock:</strong>
        <%= @product.stock %>
      </p>

      <p>
        <strong>Width:</strong>
        <%= @product.width %>
        <strong>Height:</strong>
        <%= @product.height %>
        <strong>Depth:</strong>
        <%= @product.depth %>
      </p>

      <p>
        <strong>Client:</strong>
        <%= Client.find(@product.client_id).email %>
      </p>

      <p>
        <strong>Img:</strong>
        <%= @product.img %>
      </p>
      <%= image_tag @product.img, class: 'img-fluid' %>

    </div>
  </div>
</div>
