<div class="container-fluid d-flex justify-content-center">
  <div class="">
    <h1>New Report</h1>

    <%= render 'form', report: @report %>

    <%= link_to 'Back', reports_path %>
  </div>
</div>
