<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
  <%= button_to 'Easy Market', root_path, method: :get, class: 'navbar-brand btn btn-lg btn-success', style: 'font-size: 30px;' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= 'active' if current_page?(static_pages_benefits_path) %>">
        <%= button_to 'Beneficios', static_pages_benefits_path, method: :get, class: 'btn btn-success', style: 'font-size: 17px;' %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(static_pages_categories_path) %>">
        <%= button_to 'Categorias', static_pages_categories_path, method: :get, class: 'btn btn-success', style: 'font-size: 17px;'  %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(static_pages_sales_path) %>">
        <%= button_to 'Ofertas', static_pages_sales_path, method: :get, class: 'btn btn-success', style: 'font-size: 17px;'  %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(static_pages_improvements_path) %>">
        <%= button_to 'Contacto', static_pages_improvements_path, method: :get, class: 'btn btn-success', style: 'font-size: 17px;'  %>
      </li>
      <%- if client_signed_in? %>
      <li class="nav-item <%= 'active' if current_page?(products_path) %>">
        <%= button_to 'Productos', products_path, method: :get, class: 'btn btn-success', style: 'font-size: 17px;'  %>
      </li>
      <%- end %>
    </ul>
    <%- if user_signed_in? %>
    <div class="form-inline my-2 my-lg-0">
      <%= button_to 'Panel', user_path(current_user.id), method: :get, class: 'btn btn-success' %>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-success' %>
    </div>
    <%- else %>
    <div class="form-inline my-2 my-lg-0">
      <%= button_to 'Admin', new_user_session_path, method: :get, class: 'btn btn-success' %>
    </div>
    <%- end %>
    <%- if client_signed_in? %>
      <div class="form-inline my-2 my-lg-0">
        <%= button_to 'Mi Cuenta', client_path(current_client.id), method: :get, class: 'btn btn-success' %>
        <%= button_to 'Logout', destroy_client_session_path, method: :delete, class: 'btn btn-success' %>
        <%= link_to raw("<i class='fas fa-shopping-cart text-white'></i>"),
          buys_path,
          class: "btn btn-success" %>
      </div>
    <%- else %>
      <div class="form-inline my-2 my-lg-0">
        <%= button_to 'Login', new_client_session_path, method: :get, class: 'btn btn-success' %>
        <%= button_to 'Registrate', new_client_registration_path, method: :get, class: 'btn btn-success' %>
      </div>
    <%- end %>
  </div>
</nav>
